<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tutorial.name %>
</p>
<%= image_tag @tutorial.picture.url %>
<p>
  <strong>Description:</strong>
  <%= @tutorial.description %>
</p>
<p>
  <strong>Step:</strong>
  <%= @tutorial.step %>
</p>
<% if tech_signed_in? %>
<%= link_to 'Edit', edit_tutorial_path(@tutorial), :class=> 'newprod btn' %>
<%end%>
 |
<%= link_to 'Back', tutorials_path, :class=> 'newprod btn' %>
