<div class="projecth1 col-lg-6 col-lg-offset-3">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div><br>

  <div class ="field">
    <%= f.label :hardware %>
    <%= f.check_box :hardware %>
  </div><br>

    <div class ="field">
    <%= f.label :inventory %>
    <%= f.check_box :inventory %>
  </div><br>

    <div class ="field">
    <%= f.label :pos %>
    <%= f.check_box :pos %>
  </div><br>

    <div class ="field">
    <%= f.label :network %>
    <%= f.check_box :network %>
  </div><br>

    <div class ="field">
    <%= f.label :trace %>
    <%= f.check_box :trace %>
  </div><br>
    <div class ="field">
    <%= f.label :training %>
    <%= f.check_box :training %>
  </div><br>
  <%# @project.tutorials do |tutorial| %>
    <%# project.tutorial.step %>
  <%#end%>


  <div class="actions">
    <%= f.submit :class=> 'newprod btn' %>
  </div>
<% end %>
</div>