<h1 class="projecth1 col-sm-4 col-sm-offset-4">Editing Project</h1><br><br><br><br><br><br>

<%= render 'tutorials/form' %><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<% if tech_signed_in? %>
  <%= link_to 'Add Slide', edit_project_path, :class=> 'newprod btn'%><br><br>

  <% @project.tutorials.each do |tutorial|%>
      <%= tutorial.name %>
      <%= link_to "Delete", project_tutorial_path(@project, tutorial.id), method: :delete, data:{confirm: "Are you sure?"}, :class=> 'newprod btn' %><br>
    <%end%>
<%end%>

<%= link_to 'Show', @project, :class=>"newprod btn" %> |
<%= link_to 'Back', projects_path, :class=>"newprod btn" %>
