<!DOCTYPE html>
<html>
<head>
  <title>Biotrack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<%= link_to image_tag("biotrackthc.png", :class => "navbar-brand"), "/" %>

<p class="navbar-text pull-right">
<% if tech_signed_in? %>
  Logged in as <strong><%= current_tech.email %></strong>.
  <%= link_to 'Edit profile', edit_tech_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_tech_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_tech_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_tech_session_path, :class => 'navbar-link'  %> |
<!--   <%# link_to "Contact Support", contact_us_path, :class => 'navbar-link' %> -->
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
